@import url("components/container.css");
@import url("components/card.css");

.images {
  width: 200px;
}

.navbar{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: #fff;
    padding: 10px 12px;
    margin-bottom: 25px;
}
h2 {
  color:#343B3F;
}

.text {
  text-justify: auto;
}

.navbar img {
  height: 50px;
}

.bureau {
    width: 900px;
    margin: auto;
    margin-top: 10px;
}

.avatar-large {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.informations {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding:5px;
  border-bottom: 1px solid #adb3b5;
}

.description {
  margin-top: 15px;
  border-bottom: 1px solid #adb3b5;
}

.localisation {
  color:#adb3b5;
}

.infos-text {
  display: flex;
}

.motivation {
  margin-top:15px;
}

#color-text {
  color:#858E96;
}

.presentation {
  font-family: helvetica;
}

.color-text {
  color: #858E96;
}

.icon {
  margin-right: : 5px;
}

.motivation {
  margin-top: 15px;
  border-bottom: 1px solid #adb3b5;
}

.equipement {
  border-top: 1px solid #adb3b5;
  padding:10px;
}

.flex {
  display:flex;
}

.notes-globales {
  margin-top: 15px;
  border-top: 1px solid #adb3b5;
  border-bottom: 1px solid #adb3b5;
  padding: 10px;
}
.fa-star{
  color:#adb3b5;
}
.fa-star.checked {
  color:#49AC98;
}

.commantaires {
  margin-top: 15px;
  padding:10px;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.fas {
  margin-right: 15px;
}

.far {
  margin-right: 15px;
}

.espace {
  margin-right: 8px;
}

.margin.left {
  margin-left:10px;
}

